<strong>Olá {{ deliveryman }},</strong>
<p>Houve um cancelamento de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Endereco: </strong> {{ street }}, {{ number }}, {{ complement }} - {{ city }}/{{ state }} - {{ zipcode }}
</p>
